* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family;
  font-size: @font-size;
  line-height: @line-height;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  position: relative;

  width: 260px;
  margin: 0 auto;

  @media @viewport-tablet {
    width: 668px;
  }

  @media @viewport-desktop {
    width: 1050px;
    padding: 0 175px;
  }
}

.pagetitle {
  background-color: #f1f1f1;

  &__headline {
    font-size: 27px;
    line-height: 30px;

    padding: 75px 0;

    text-align: center;

    @media @viewport-tablet {
      font-size: 43px;
      line-height: 50px;
    }

    @media @viewport-desktop {
      font-size: 53px;
      line-height: 57px;
    }
  }
}
