.button {
  font-family: @font-family;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;


  padding: 14px 0;

  cursor: pointer;
  text-transform: uppercase;

  border: 2px solid @button-border;
  background-color: transparent;

  &--block {
    width: 100%;
  }

  &:hover,
  &:focus {
    color: @color-inverse;
    background-color: @button-bg-hover;
  }

  &:active {
    color: #4f4f4f;
    background-color: @button-bg-active;
  }
}
