.feature {
  padding: 0 30px;

  &__headline {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__list {
    list-style: none;
    padding: 0 ;

    svg {
      display: block;
    }

  }

  &__item {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 30px;

    p {
      margin-top: 15px;
    }
  }
}
