.feature {
  .container {
    @media @viewport-desktop {
      padding-left: 175px;
      padding-right: 175px;
    }
  }

  &__headline {
    font-size: 25px;
    line-height: 30px;

    margin-bottom: 35px;

    @media @viewport-tablet {
      font-size: 43px;
      line-height: 50px;
    }

    @media @viewport-desktop {
      font-size: 53px;
      line-height: 57px;
    }
  } //.feature__headline

  &__wrapper {
    display: flex;
    flex-direction: column;
  } //.feature__wrapper

  &__list {
    padding: 0;

    list-style: none;

    @media @viewport-tablet {
      display: flex;

      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
  } //.feature__list

  &__item {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;


    svg {
      fill: @color-green;
    }

    p {
      margin-top: 15px;
    }

    @media @viewport-tablet {
      width: 50%;

      &--flower {
        order: 0;
      }

      &--ball {
        order: 1;
      }

      &--price {
        order: 2;
      }

      &--rocket {
        order: 3;
      }

      &--like {
        order: 4;
      }

      &--gift {
        order: 5;
      }
    }
  } //.feature__item

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } //.feature__footer
}
