.feedback {
  padding: 0 30px;

  &__headline {
    font-size: 25px;
    line-height: 30px;
  }

  &__list {
    padding: 0;

    list-style: none;
  }

  &__author {
    font-size: 17px;
    line-height: 24px;

    &-link {
      font-style: normal;

      text-decoration: none;

      color: #444444;
    }
  }

  &__comment {
    font-size: 15px;
    line-height: 30px;

    margin: 0;
  }
}
