.feature {
  &__headline {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    svg {
      fill: @color-green;
    }
  }

  &__item {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 30px;

    p {
      margin-top: 15px;
    }
  }
}
