.footer {
  background-color: #f1f1f1;

  &__social {
    &-list {
      padding: 0;

      list-style: none;

      text-align: center;
    }

    &-item {
      display: inline-block;
    }
  }

  &__copyright {
    display: block;
    text-align: center;

    &-link {
      display: block;
      text-decoration: none;
      font-size: 19px;
      line-height: 18px;
      font-weight: bold;
      color: #000000;
    }
  }
}
