.footer {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 40px;


  &__social {
    &-list {
      padding: 0;

      list-style: none;

      text-align: center;
    }

    &-item {
      display: inline-block;

      &:hover,
      &:focus {
        svg {
          fill: @color-green;
        }
      }

      &:active {
        opacity: 0.3;
      }
    }

    &-item:not(:first-child) {
      margin-left: 40px;
    }
  }

  &__copyright {
    display: block;
    padding-top: 15px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e5e5e5;

    &-link {
      display: block;
      text-decoration: none;
      font-size: 19px;
      line-height: 18px;
      font-weight: bold;
      color: @color-black;

      &:hover,
      &:focus {
        svg {
          fill: @color-green;
        }
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}
