.popular {
  &__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    padding: 26px 0 0 0;
  }

  &__category {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    display: block;

    margin-top: 5px;

    text-transform: uppercase;

    color: @color-green;
  }

  &__description {
    font-size: @font-size;
    line-height: @line-height;

    color: @color-base;

    p {
      padding: 10px 0 0 0;
    }
  }

  &__table {
    width: 100%;
    margin-top: 16px;

    border-spacing: 0;
  }

  &__table-name,
  &__table-value {
    font-size: @font-size;
    line-height: 20px;

    padding: 10px 0;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: @color-gray;
  }

  &__table-value {
    padding-left: 15px;
  }

  &__image {
    margin-top: 28px;
  }

  &__footer {
    text-align: center;
  }

  &__price {
    font-size: 17px;
    font-weight: bold;
    line-height: @line-height;

    display: block;

    margin-top: 15px;

    color: @color-base;
  }

  &__button {
    margin-top: 10px;
  }
}
