.popular {
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;

    padding: 26px 0px 0px 0px;
  }

  &__category {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    display: block;

    text-transform: uppercase;

    color: @color-green;

    margin-top: 5px;
  }

  &__description {
    font-size: @font-size;
    line-height: @line-height;

    color: @color-base;

    p {
      padding: 10px 0px 0px 0px;
    }
  }

  &__table {
    margin-top: 16px;
    width: 100%;
    border-spacing: 0px;
  }

  &__table-name,
  &__table-value {
    padding: 10px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: @color-gray;
    font-size: @font-size;
    line-height: 20px;
  }

  &__table-value {
    padding-left: 15px;
  }

  &__image {
    margin-top: 28px;
  }

  &__footer {
    text-align: center;
  }

  &__price {
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: @color-base;
    font-weight: bold;
    line-height: @line-height;
  }

  &__button {
    margin-top: 10px;
  }
}
