.promo {
  max-width: 320px;

  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;

  &__header {
    padding: 0 30px;
  }

  &__headline {
    font-size: 27px;
    line-height: 30px;

    padding-top: 80px;
    margin-bottom: 120px;

    text-align: center;
  }

  &__list {
    padding: 0;

    list-style: none;
  }

  &__link {
    font-size: 19px;
    font-weight: bold;

    display: block;

    padding: 30px 30px;

    text-decoration: none;

    color: #ffffff;

    &--interior {
        background-color: #63d1bb;
    }

    &--toys {
        background-color: #56c3b2;
    }
  }
}
