.process {
  padding: 0 30px;

  &__header {
    margin-bottom: 10px;
    padding: 0;
    padding: 0 28px;

    svg {
      text-align: left;
    }
  }

  &__headline {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;

    display: inline-block;

    margin-left: 25px;
  }

  &__information {
    font-size: 13px;
    line-height: 24px;

    color: #444444;
    border-width: 1px;
    border-style: solid;
    border-color: #ededed;

    p
    {
      margin-top: 20px;
      padding: 0;
      padding: 0 30px;
    }
  }

  &__footer {
    text-align: center;
  }

  &__button {
    width: 192px;
  }
}
