.product {
  &__list {
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-top: 30px;

    border-width: 1px;
    border-style: solid;
    border-color: #ededed;

    &:hover,
    &:focus {
      box-shadow: 0px 3px 5px 0px #ececec;
    }

    &:active {
      box-shadow: 0px 3px 1px 0px #ececec;
    }
  }

  &__title,
  &__description,
  &__price {
    padding: 0 28px;
  }

  &__title {
    font-size: 17px;
    font-weight: bold;
    line-height: @line-height;
  }

  &__description {
    font-size: 13px;
    line-height: 30px;
  }

  &__footer {
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
  }

  &__price {
    font-size: @font-size;
    font-weight: bold;
    line-height: @line-height;
  }

  &__cart {
    background-color: transparent;
    border: none;

    svg {
      fill: #d3d2d2;
    }
    &:hover,
    &:focus {
      svg {
        fill: @color-green;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
