.search {
  &__button {
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      svg {
        fill: @color-green;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
